/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 56px;

    /*========== Colors ==========*/
    --bg-color: #BDC4D1;
    --bg-color-light: #D5D9E2;
    --title-color: #17191C;
    --text-color: #4E5155;
    --text-color-light: #888B91;
    --body-color: #FCFCFD;
    --container-color: #F6F7F9;

    /*========== Font & typography ==========*/
    --body-font: 'Roboto', sans-serif;  

    --biggest-font-size: 36px;
    --h1-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 16px;
    --normal-font-size: 15px;
    --small-font-size: 13px;
    --smaller-font-size: 12px;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== RESPONSIVE TYPOGRAPHY ==========*/
@media screen and (min-width: 1124px) {
    :root {
        --biggest-font-size: 72px;
        --h1-font-size: 36px;
        --h2-font-size: 24px;
        --h3-font-size: 20px;
        --normal-font-size: 16px;
        --small-font-size: 14px;
        --smaller-font-size: 13px;
    }
}

/*========== BASE ==========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s; /* For dark mode animation*/
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*========== THEME ==========*/

/*========== Colors Dark theme ==========*/
body.dark-theme {
    --bg-color: #1B1F27;
    --bg-color-light: #303745;
    --title-color: #F1F2F3;
    --text-color: #9FA3AD;
    --body-color: #262B36;
    --container-color: #2C323F;
}

.dark-theme .scroll-header {
    box-shadow: 0 2px 8px hsla(220, 18%, 8%, .3);
}

.dark-theme .nav__menu {
    background-color: var(--container-color);
}

.dark-theme .nav__menu,
.dark-theme .scrollup {
    box-shadow: 0 4px 8px hsla(220, 18%, 8%, .3);
}

.dark-theme::-webkit-scrollbar {
    background-color: #1F242D;
}

.dark-theme::-webkit-scrollbar-thumb {
    background-color: #343C4B;;
}

.dark-theme::-webkit-scrollbar-thumb:hover {
    background-color: #495469;
}

/*========== Button Dark/Light ==========*/
.change__theme {
    color: var(--title-color);
    font-size: 18px;
    cursor: pointer;
}

/*========== REUSABLE CSS CLASSES ==========*/
.container {
    max-width: 1024px;
    margin-left: 24px;
    margin-right: 24px;
}

.grid {
    display: grid;
    gap: 24px;
}

.section {
    padding: 72px 0 32px;   /*top, right-left, bottom */
}

.section__title {
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 48px;
}

.main {
    overflow: hidden; /* For animation ScrollReveal */
}

/*========== HEADER & NAV ==========*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        bottom: 24px;
        background-color: var(--body-color);
        box-shadow: 0 4px 12px hsla(220, 18%, 40%, .15);
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto; /* to centre*/
        padding: 20px 45px;
        border-radius: 8px;
        transition: .4s; /* For dark mode animation*/
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__link {
        color: var(--text-color-light);
        font-weight: var(--font-medium);
        display: grid;
        justify-items: center;
        row-gap: 4px;
    }

    .nav__link i {
        font-size: 20px;
    }

    .nav__link span {
        font-size: 11px;
    }
}

/* Change background header*/
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(220, 4%, 15%, .1);
}
/* Active link*/
.active-link {
    color: var(--title-color);
}

/*========== HOME ==========*/
.home {
    background-color: var(--bg-color);
    overflow: hidden;
    transition: .4s; /* For dark mode animation*/
}

.home__container {
    padding: 64px 0px 16px;
    row-gap: 136px;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: 400;
}

.home__description {
    color: var(--title-color);
    margin: 16px 0px 32px;
}

.home__title,
.home__description {
    line-height: 140%;
}

.home__images {
    position: relative;
    width: 310px;
    justify-self: center;
}

.home__images img:nth-child(1) {
    width: 224px;
    position: absolute;
    right: -24px;
    top: -152px;
}

.home__images img:nth-child(2) {
    width: 180px;
    margin-left: 8px;
    position: relative;
}

/*========== BUTTON ==========*/
.button__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
}

.button__link i {
    font-size: 16px;
    transition: .3s;
}

.button__link:hover i {
    transform: translateX(4px);
}

/*========== HOME ==========*/
.new__container {
    row-gap: 40px;
    padding-bottom: 24px;
}

.new__card {
    justify-self: center;
}

.new__img {
    width: 270px;
    margin-bottom: 16px;
}

.new__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--title-color);
    padding-right: 12px;
}

.new__link i {
    font-size: 20px;
    transition: .3s;
}

.new__title {
    font-size: var(--h2-font-size);
    margin-bottom: 8px;
}

.new__subtitle {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

.new__link:hover i {
    transform: translateX(4px);
}

/*========== COLLECTION ==========*/
.collection {
    background-color: var(--bg-color-light);
    overflow: hidden;
    transition: .4s; /* For dark mode animation*/
}

.collection__container {
    position: relative;
    height: 571px;
    display: grid;
    justify-items: center;
}

.collection__title {
    font-size: var(--h1-font-size);
    margin-bottom: 12px;
}

.collection__explore {
    display: grid;
    column-gap: 32px;
    position: absolute;
}

.collection__explore:nth-child(2) {
    grid-template-columns: 230px max-content;
    bottom: 16px;
    margin-right: 80px;
}

.collection__explore:nth-child(1) {
    grid-template-columns: max-content 230px;
    top: 0;
    margin-left: 80px;
}

.collection__data-men {
    margin-top: 40px;
}

.collection__data-women {
    align-self: flex-end;
    margin-bottom: 40px;
}

/*========== PRODUCTS ==========*/
.products__container {
    padding-bottom: 80px;
}

.products__card {
    width: 270px;
}

.products__img {
    margin-bottom: 16px;
}

.products__title {
    font-size: var(--h3-font-size);
    margin-bottom: 12px;
}

.products__price {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    top: initial;
    bottom: 0;
    width: initial;
    height: initial;
    font-size: 24px;
    color: var(--title-color);
}

.swiper .swiper-button-prev {
    left: calc(50% - 32px);
}

.swiper .swiper-button-next {
    right: calc(50% - 32px);
}

.swiper-slide {
    padding-bottom: 80px;
    
}


/*========== PRODUCTS ==========*/
.brand__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 20px;
}

.brand__img {
    width: 120px;
}

.brand__img:nth-child(even) {
    margin-top: 32px;
}

/*========== FOOTER ==========*/
.footer__container {
    row-gap: 48px;
}

.footer__logo {
    color: var(--title-color);
    font: var(--h2-font-size);
    font-weight: var(--font-medium);
    display: inline-block;
    margin-bottom: 12px;
}

.footer__content,
.footer__links {
    display: grid;
}

.footer__content {
    grid-template-columns: repeat(2,max-content);
    gap: 56px 48px;
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 20px;
}

.footer__links {
    row-gap: 12px;
}

.footer__link,
.footer__information {
    font-size: var(--small-font-size);
}

.footer__link {
    color: var(--text-color);
    transition: .3s;
}

.footer__link:hover {
    text-decoration: underline;
    color: var(--title-color);
}

.footer__social {
    display: flex;
    column-gap: 8px;
}

.footer__social-link {
    display: inline-flex;
    color: var(--title-color);
    padding: .4rem;
    background-color: var(--container-color);
    font-size: 20px;
    transition: background-color .3s;
}

.footer__social-link:hover {
    background-color: var(--bg-color-light);
}

.footer__info {
    margin-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.footer__copy,
.footer__privacy {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: 9.6px;
    border-radius: 8px;
    background-color: #BDC0C7;
}

::-webkit-scrollbar-thumb {
    background-color: #9CA1AB;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #808793;
}

/*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 16px;
    bottom: -30%;
    background-color: var(--container-color);
    box-shadow: 0 8px 12px hsla(220, 18%, 45%, .15);
    display: inline-flex;
    padding: 5.6px;
    color: var(--title-color);
    font-size: 17.6px;
    z-index: var(--z-tooltip);
    transition: .3s;
}

.scrollup:hover {
    transform: translateY(-4px);
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 120px;
}

/*========== BREAKPOINTS ==========*/
/* For small devices*/
@media screen and (max-width: 340px) {
    .container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .footer__content {
        grid-template-columns: max-content;
        row-gap: 32px;
    }

    .nav__menu {
        padding: 16px 24px;
    }

    .home__container {
        padding: 32px 0 16px;
        row-gap: 96px;
    }

    .home__description {
        font-size: var(--small-font-size);
    }

    .home__images {
        width: 248px;
    }

    .home__images img:nth-child(1) {
        width: 180px;
        top: -112px;
    }

    .home__images img:nth-child(2) {
        width: 150px;
    }

    .new__img {
        width: 230px;
    }

    .new__link {
        padding-right: 0;
    }

    .collection__explore:nth-child(1),
    .collection__explore:nth-child(2) {
        position: initial;
        grid-template-columns: 230px;
        row-gap: 32px;
        margin: 0;
    }

    .collection__container {
        height: initial;
        row-gap: 48px;
    }

    .collection__data-men {
        margin-top: 0;
    }

    .collection__data-women {
        margin-bottom: 0;
    }

    .products__card {
        width: 230px;
    }

    .brand__container {
        grid-template-columns: repeat(2, 100px);
        row-gap: 8px;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav__menu {
        width: 342px;
    }

    .footer__content {
        grid-template-columns: repeat(3, max-content);
    }

    .products__card {
        text-align: center;
    }

}

@media screen and (min-width: 767px) {
    .home__container,
    .new__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
    }

    .home__images {
        margin-top: 96px;
    }

    .brand__container {
        grid-template-columns: repeat(4, max-content);
    }

    .footer__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }

    .products__card {
        text-align: center;
    }
}

/* For large devices*/
@media screen and (min-width: 1023px) {
    .section {
        padding: 112px 0 16px;
    }

    .section__title {
        margin-bottom: 64px;
    }

    .nav {
        height: calc(var(--header-height) + 24px);
    }

    .nav__menu {
        width: initial;
        margin-left: auto;
    }

    .nav__list {
        display: flex;
        column-gap: 48px;
    }

    .nav__link {
        color: var(--text-color);
        font-weight: var(--font-medium);
        transition: .3s;
    }

    .nav__link i {
        display: none;
    }

    .nav__link:hover {
        color: var(--title-color);
    }

    .active-link {
        color: var(--title-color);
        font-weight: var(--font-bold);
    }

    .change__theme {
        margin-left: 48px;
        color: var(--text-color);
    }

    .dark-theme .nav__menu {
        background-color: transparent;
        box-shadow: none;
    }

    .products__container {
        width: 954px;
    }

    .products__card {
        text-align: center;
    }

    .footer__content {
        grid-template-columns: repeat(4, max-content);
        column-gap: 88px;
    }

    .footer__link {
        font-size: var(--normal-font-size);
    }

    .footer__info {
        padding-bottom: 32px;
        row-gap: 16px;
    }
}

@media screen and (min-width: 1054px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .products__card {
        text-align: center;
    }
}

@media screen and (min-width: 1124px) {
    .home__container {
        padding: 160px 0 48px;
        column-gap: 0;
    }

    .home__images {
        width: 500px;
        margin-top: 128px;
        transform: translate(-16px);
    }

    .home__images img:nth-child(1) {
        width: 345px;
        top: -232px;
    }

    .home__images img:nth-child(2) {
        width: 277px;
    }

    .new__container {
        grid-template-columns: repeat(3, max-content);
        padding-bottom: 72px;
        gap: 72px;
    }

    .new__img {
        margin-bottom: 20px;
    }

    .new__title {
        font-size: var(--h3-font-size);
    }

    .collection__container {
        height: 760px;
        margin-bottom: 32px;
    }

    .collection__explore:nth-child(1) {
        grid-template-columns: max-content 330px;
        margin-left: 160px;
    }
    
    .collection__explore:nth-child(2) {
        grid-template-columns: 330px max-content;
        margin-right: 160px;
    }

    .collection__explore {
        column-gap: 80px;
    }

    .products__container {
        padding-bottom: 112px;
    }

    .brand__container {
        column-gap: 88px;
    }

    .brand__img {
        width: 140px;
    }

    .scrollup {
        right: 48px;
    }

    .show-scroll {
        bottom: 48px;
    }

    .products__card {
        text-align: center;
    }
}